.app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  background: #8dd1ff;
  border-bottom: 1px solid #ddd;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 1.5rem;
  z-index: 1000;

  &__left {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 600;
  }

  &__logo {
    max-height: 75px;
    margin-right: 20px;
    display: block;
  }

  &__title {
    font-family: "Dancing Script", cursive;
    font-size: 1.8rem;
    font-weight: 500;
    cursor: default;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__cart-button {
    position: relative;
    font-size: 1.1rem;

    i {
      vertical-align: middle;
    }
  }

  &__badge {
    position: absolute;
    top: -6px;
    right: -8px;
  }
}
